<carousel [interval]="myInterval" [(activeSlide)]="activeSlideIndex" class="gym-carousel">
  <slide *ngFor="let slide of slides; let index = index">
    <div class="slide-container">
      <img [src]="slide.image" alt="image slide" />
      <div class="carousel-overlay">
        <div class="carousel-caption text-center">
          <h2>Slide {{ index + 1 }}</h2>
          <p>{{ slide.text }}</p>
        </div>
      </div>
    </div>
  </slide>
</carousel>

<!-- <div>
  <span>Interval, in milliseconds (Enter a negative number or 0 to stop the interval.): </span>
  <input type="number" class="form-control" [(ngModel)]="myInterval">
</div>  -->



